html , body{
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9af4c12f-a0d9-48ab-a9d3-240148699eaf/ddif28z-d8498818-0069-462d-bf12-c2746aa51d0d.png/v1/fill/w_1280,h_720,q_80,strp/ace_attorney_trilogy_hd_courtroom_background_part4_by_rapbattleeditor0510_ddif28z-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvOWFmNGMxMmYtYTBkOS00OGFiLWE5ZDMtMjQwMTQ4Njk5ZWFmXC9kZGlmMjh6LWQ4NDk4ODE4LTAwNjktNDYyZC1iZjEyLWMyNzQ2YWE1MWQwZC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.AodJ6Y6bMdqVS4rHQS2Sa3rl-3qhRW3akXIgX_AjByQ");
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-repeat: no-repeat;     
  background-size: cover;        
  background-position: center center; 
}

#jogo {
  width: 800px;
  height: 600px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border: 2px solid white;
}

#personagem {
  left: 20px;
  width: 400px;
  height: 400px;
}

#retrato {
  height: 400px;
  width: 400px;
  margin-top: 360px;
  margin-left: 50px;
}

#dialogo {
  bottom: 0;
  width: 85%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.39);
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 360px;
}

#nome {
  font-weight: bold;
  font-size: 40px;
  background-color: blue;
  border-radius: 10px;
  position: relative;
  color: white;
}

#texto {
  margin-top: 5px;
  margin-left: 35px;
  font-size: 30px;
  color: white;
}

#proximo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 8px 12px;
  font-size: 30px;
  width: 250px;
  border-radius: 20px;
  background-color: blue;
  height: 70px;
  color: white;
}
